node_modules

# ignore all files in the public folder
/public

# ignore all files in the .next folder
/.next

# ignore all .m4a files anywhere in the project
*.m4a

# ignore all .txt files anywhere in the project
*.txt

# ignore .env files anywhere in the project
.env*